<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CartMapper">
 	
 	
	<resultMap id="CartSelectMap" type="cart">
		<result property="cartNo" 			column="cart_no" 			jdbcType="NUMERIC"/>
		<result property="cartProduct.prodNo"	column="prod_no" 		jdbcType="NUMERIC" />
		<result property="userId" 				column="user_Id" 		jdbcType="VARCHAR" />
		<result property="addDate" 			column="add_date" 			jdbcType="DATE" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="insertCart"		parameterType="cart" >
	 	INSERT
		INTO cart( cart_no, prod_no , user_id , add_date) 
		VALUES	 (	seq_cart_cart_no.NEXTVAL , #{cartProduct.prodNo} , #{userId} ,SYSDATE )
	 </insert>
	 
	 <select	id="getMyCartList"  parameterType="java.lang.String" resultMap="CartSelectMap">
	 	SELECT cart_no,prod_no,user_id,add_date
	 	FROM cart
	 	WHERE user_id = #{value}
	 </select>
	 
</mapper>